fastapi
uvicorn
python-multipart
slowapi
sqlalchemy
passlib[bcrypt]
bcrypt
python-jose[cryptography]
python-dotenv
qdrant-client
groq
google-generativeai
sentence-transformers
langchain-text-splitters
pymupdf
pdfplumber
python-docx
beautifulsoup4
requests
faiss-cpu
numpy
duckduckgo-search

